/*


*****************
Table OF CONTENTS 
*****************

1. Fonts
2. Mixins 
3. Variables
4. Home 
 4.1 Name
 4.2 Frontend Developer
 4.3 Hamburger Menu
 4.4 Image
 4.5 Logo 
 4.6 Navbar

*/


/*  ***** INFO *****  */
.info_block {
    width:98%;
    .content {
        margin-bottom:60px;
        margin-top:50px;
        .block {
            border:15px solid $grey;
            .holder {
                .button {
                    background:$lightdark;
                    height:100%;
                    left:0;
                    margin:0;
                    padding:0;
                    position:absolute;
                    top:0;
                    width:100%;
                    a {
                        background:$light;
                        color:$dark;
                        font-family:montserrat;
                        font-weight:bold;
                        padding:10px 50px 10px 50px;
                        &:hover {
                            background:$grey;
                            text-decoration:none;
                        }
                    }
                    .transparent {
                        background:transparent;
                        border:1px solid $light;
                        color:$light;
                        font-family:montserrat;
                        font-weight:bold;
                        padding:10px 50px 10px 50px;
                        &:hover {
                            background:transparent;
                            border:1px solid $dark;
                            text-decoration:none;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:1601px) and (max-width:2000px) {
    .info_block {
        .content {
            margin-bottom:75px;
            margin-top:62px;
            .block {
                border:18px solid $grey;
                .holder {
                    .button {
                        a {
                            font-size:20px;
                            padding:12.5px 62px 12.5px 62px;
                        }
                        .transparent {
                            border:1.25px solid $light;
                            padding:12.5px 62px 12.5px 62px;
                            &:hover {
                                border:1.25px solid $dark;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:2001px) and (max-width:2500px) {
    .info_block {
        .content {
            margin-bottom:93px;
            margin-top:77px;
            .block {
                border:22px solid $grey;
                .holder {
                    .button {
                        a {
                            font-size:25px;
                            padding:15.6px 77px 15.6px 77px;
                        }
                        .transparent {
                            border:1.56px solid $light;
                            padding:15.6px 77px 15.6px 77px;
                            &:hover {
                                border:1.56px solid $dark;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:2501px) and (max-width:3125px) {
    .info_block {
        .content {
            margin-bottom:116px;
            margin-top:96px;
            .block {
                border:27px solid $grey;
                .holder {
                    .button {
                        a {
                            font-size:31px;
                            padding:19.5px 96px 19.5px 96px;
                        }
                        .transparent {
                            border:1.95px solid $light;
                            padding:19.5px 96px 19.5px 96px;
                            &:hover {
                                border:1.95px solid $dark;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:3126px) {
    .info_block {
        .content {
            margin-bottom:145px;
            margin-top:120px;
            .block {
                border:33px solid $grey;
                .holder {
                    .button {
                        a {
                            font-size:38px;
                            padding:24.3px 120px 24.3px 120px;
                        }
                        .transparent {
                            border:2.43px solid $light;
                            padding:24.3px 120px 24.3px 120px;
                            &:hover {
                                border:2.43px solid $dark;
                            }
                        }
                    }
                }
            }
        }
    }
}